<!DOCTYPE html>
<html>
<head>
<title>Leaderboard</title>

<style>
body {
    background:#0f2027;
    color:white;
    font-family:sans-serif;
    padding:20px;
}

h2 {
    text-align:center;
    margin-bottom:20px;
}

.card {
    background:#203a43;
    padding:15px;
    margin:10px 0;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
}

.rank1 {background:gold;color:black;}
.rank2 {background:silver;color:black;}
.rank3 {background:#cd7f32;color:black;}
</style>
</head>

<body>
<h2>🏆 Leaderboard</h2>

{% for p in profiles %}
<div class="card 
    {% if forloop.counter == 1 %}rank1
    {% elif forloop.counter == 2 %}rank2
    {% elif forloop.counter == 3 %}rank3
    {% endif %}
">

    <p><strong>#{{ forloop.counter }} {{ p.user.username }}</strong></p>
    <p>Points: {{ p.points }}</p>
    <p>Badge: {{ p.badge }}</p>

    {% if p.user.id == request.user.id %}
        
        {% if p.points >= 50 %}
        <a href="/certificate/">
            <button style="padding:8px;background:green;color:white;border:none;border-radius:8px;">
                Download Certificate 🎓
            </button>
        </a>
        {% else %}
            <p>🔒 Earn more points</p>
        {% endif %}

    {% endif %}

</div>
{% endfor %}
</body>
</html>