<!DOCTYPE html>
<html>
<head>
<title>My Dashboard</title>

<style>
body {
    background:#0f2027;
    color:white;
    font-family:sans-serif;
    padding:20px;
    text-align:center;
}

.box {
    background:#203a43;
    padding:30px;
    border-radius:15px;
    display:inline-block;
}

button {
    margin-top:15px;
    padding:10px;
    background:green;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
</style>
</head>

<body>

<h2>👤 My Dashboard</h2>

<div class="box">
    <p><strong>Username:</strong> {{ profile.user.username }}</p>
    <p><strong>Points:</strong> {{ profile.points }}</p>
    <p><strong>Rank:</strong> #{{ rank }}</p>
    <p><strong>Badge:</strong> {{ profile.badge }}</p>

    {% if profile.points >= 50 %}
    <a href="/certificate/">
        <button>Download Certificate 🎓</button>
    </a>
    {% else %}
        <p>🔒 Earn 50 points to unlock certificate</p>
    {% endif %}
</div>

</body>
</html>